<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Delisted</title>
    <meta name="keywords" content="delisted,nyse,finance,stocks" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="center content">
        <h1>How close is {{ symbol }} to being delisted?</h1>
        <h2>30 trading-day closing average: {{ closing_avg }}</h2>
        <h3>Last updated at {{ updated_at }}</h3>
    </div>
</body>

</html>