<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Delisted?</title>
    <meta name="keywords" content="delisted,nyse,finance,stocks" />
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">

    <script defer data-domain="delisted.fyi" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/dedoussis/delisted.fyi">
        <img loading="lazy" width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149" style="position: absolute; top: 0; right: 0; border: 0;" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1">
    </a>

    <div class="center content">
        <h1 id="title">Please select a valid symbol! ⚠️</h1>
        <h2 class="x-highlighted" id="isDelisted"></h2>
        <h3>30 trading-day closing average: <span class="highlighted" id="closingAvg">Boo!</span></h2>
        <h3>Based on last month's performance the stock is predicted to go <span class="highlighted" id="inverseState">Oof!</span> in <span class="highlighted" id="daysUntilStateTransition">Argh!</span> trading days.</h2>
        <h4>Last updated at <span class="highlighted">{{ updated_at }}</span></h3>
        <h4><span role="img" aria-label="information-emoji">ℹ️</span> See section 802.01C of NYSE's continued listing criteria: <a target="_blank" rel="noopener noreferrer" href="https://nyseguide.srorules.com/listed-company-manual/document?treeNodeId=csh-da-filter!WKUS-TAL-DOCS-PHC-%7B0588BF4A-D3B5-4B91-94EA-BE9F17057DF0%7D--WKUS_TAL_5667%23teid-167">link!</a></h4>
    </div>

    <script>
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        const symbol = params.symbol && params.symbol.toLowerCase();
        const data = {{ json_data }};
        const emojis = ["🍆", "💙", "⚽", "🏄‍♂️", "🐨", "🏝️", "🪄", "🫡"];
        const random = Math.floor(Math.random() * emojis.length);

        if (symbol && Object.keys(data).includes(symbol)) {
            document.getElementById("title").innerHTML = "Is " + symbol.toUpperCase() + " delisted yet? <span role=\"img\" aria-label=\"random-emoji\">" + emojis[random] + "</span>";
            document.getElementById("closingAvg").innerHTML=data[symbol].avgClosingPrice;
            document.getElementById("daysUntilStateTransition").innerHTML=data[symbol].daysUntilStateTransition >= 0 ? data[symbol].daysUntilStateTransition : "∞";
            document.getElementById("inverseState").innerHTML=data[symbol].isDelisted? "listed" : "delisted";
            document.getElementById("isDelisted").innerHTML=data[symbol].isDelisted? "YES": "NO"; 
        }
    </script>

</body>

</html>
