body {
    margin: 0%;
    background-color: rgb(252, 177, 86);
}

.content {
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: xx-large;
}

.highlighted {
    color: rgba(107, 107, 107, 0.885);
}

.x-highlighted {
    font-size: 500%;
}
